<div class="create-user-container">
  <button class="close-btn" (click)="closeAddUserModal()">&times;</button>
  <h2 *ngIf="!isEditForm">Create User</h2>
  <h2 *ngIf="isEditForm">Edit User</h2>
  <form
    [formGroup]="userForm"
    *ngIf="userFormVisible"
    (ngSubmit)="createUser()"
    class="user-form"
  >
    <!-- Name -->
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Enter name"
      />
      <div
        class="error"
        *ngIf="
          userForm.get('name')?.invalid &&
          userForm.get('name')?.touched &&
          !isEditForm
        "
      >
        Name is required
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter email"
      />
      <div
        class="error"
        *ngIf="
          userForm.get('email')?.invalid &&
          userForm.get('email')?.touched &&
          !isEditForm
        "
      >
        Please enter a valid email
      </div>
    </div>

    <!-- Password -->
    <div class="form-group" *ngIf="!isEditForm">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div
        class="error"
        *ngIf="
          userForm.get('password')?.invalid &&
          userForm.get('password')?.touched &&
          !isEditForm
        "
      >
        Password must be at least 6 characters
      </div>
    </div>

    <!-- Role Dropdown -->
    <div class="form-group dropdown">
      <label>Role</label>
      <div class="dropdown-toggle" (click)="toggleDropdown('role')">
        {{ selectedRole || "Select Role" }}
      </div>
      <ul class="dropdown-menu" *ngIf="openDropdown === 'role'">
        <li (click)="selectRole('Editor')">Editor</li>
        <li (click)="selectRole('Viewer')">Viewer</li>
      </ul>
      <div
        class="error"
        *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched"
      >
        Role is required
      </div>
    </div>

    <!-- Workspace Dropdown -->
    <div class="form-group dropdown">
      <label>Workspace</label>
      <div class="dropdown-toggle" (click)="toggleDropdown('workspace_id')">
        {{ selectedWorkspace || "Select Workspace" }}
      </div>
      <ul class="dropdown-menu" *ngIf="openDropdown === 'workspace_id'">
        <li
          *ngFor="let workspace of workspaceList"
          (click)="selectWorkspace(workspace)"
        >
          {{ workspace.workspace_name }}
        </li>
      </ul>
      <div
        class="error"
        *ngIf="
          userForm.get('workspace_id')?.invalid &&
          userForm.get('workspace_id')?.touched
        "
      >
        Workspace is required
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" *ngIf="!isEditForm">Create User</button>
    <button type="submit" *ngIf="isEditForm">Edit form</button>
  </form>
</div>
<div *ngIf="success" class="display-success">User created successfully!</div>
