<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <div class="navbar-brand">
        <h3>Outreach Hub</h3>
        <span>Users Portal</span>
      </div>
      <nav class="navbar-links">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"
          >Home</a
        >
        <a routerLink="/contacts" routerLinkActive="active" class="nav-link"
          >Contacts</a
        >
        <a routerLink="/messages" routerLinkActive="active" class="nav-link"
          >Messages</a
        >
        <a routerLink="/campaigns" routerLinkActive="active" class="nav-link"
          >Campaigns</a
        >
      </nav>
    </div>

    <app-logout></app-logout>
  </div>
</header>
