<!-- navbar header area -->
<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <i class="fa-solid fa-bars" (click)="toggleSidebar()"></i>

      <div class="navbar-brand">
        <h3>Outreach Hub</h3>
        <span>Admin Portal</span>
      </div>
      <nav class="navbar-links">
        <a
          routerLink="/admin/dashboard"
          routerLinkActive="active"
          class="nav-link"
          >Home</a
        >
        <a
          routerLink="/admin/analytics"
          routerLinkActive="active"
          class="nav-link"
          >Analytics</a
        >
        <a
          routerLink="/admin/billing"
          routerLinkActive="active"
          class="nav-link"
          >Billing</a
        >
        <a
          routerLink="/admin/subscriptions"
          routerLinkActive="active"
          class="nav-link"
          >Subscriptions</a
        >
      </nav>
    </div>

    <div class="navbar-right">
      <button class="logout-button">
        <span class="icon">&#128682;</span>
        <span>Logout</span>
      </button>
    </div>
  </div>
</header>

<!-- dashboard main content -->

<div
  class="admin-dashboard-layout"
  [class.sidebar-collapsed]="isSidebarCollapsed"
>
  <aside class="sidebar">
    <nav class="nav-menu">
      <a
        class="nav-link"
        routerLink="/admin/workspaces"
        routerLinkActive="sidebar-fields"
      >
        <span class="icon" *ngIf="isSidebarCollapsed">W</span>
        Workspaces
      </a>
      <a
        href="#"
        class="nav-link"
        routerLink="/admin/users"
        routerLinkActive="sidebar-fields"
      >
        <span class="icon" *ngIf="isSidebarCollapsed">U</span> Users
      </a>
    </nav>
    <div class="sidebar-footer">
      <button class="settings-button">
        <span class="icon"><i class="fa-solid fa-gear"></i></span>
        Settings
      </button>
    </div>
  </aside>
  <div class="content-page"><router-outlet></router-outlet></div>
</div>
