<!-- navbar header area -->
<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <i class="fa-solid fa-bars" (click)="toggleSidebar()"></i>

      <div class="navbar-brand">
        <h3>Outreach Hub</h3>
        <span>Admin Portal</span>
      </div>
      <nav class="navbar-links">
        <a
          routerLink="/admin/dashboard"
          routerLinkActive="active"
          class="nav-link"
          >Home</a
        >
        <a
          routerLink="/admin/analytics"
          routerLinkActive="active"
          class="nav-link"
          >Analytics</a
        >
        <a
          routerLink="/admin/billing"
          routerLinkActive="active"
          class="nav-link"
          >Billing</a
        >
        <a
          routerLink="/admin/subscriptions"
          routerLinkActive="active"
          class="nav-link"
          >Subscriptions</a
        >
      </nav>
    </div>

    <div class="navbar-right">
      <button class="logout-button">
        <span class="icon">&#128682;</span>
        <span>Logout</span>
      </button>
    </div>
  </div>
</header>

<!-- dashboard main content -->

<div
  class="admin-dashboard-layout"
  [class.sidebar-collapsed]="isSidebarCollapsed"
>
  <aside class="sidebar">
    <nav class="nav-menu">
      <button
        class="nav-toggle"
        (click)="toggleWorkspacesMenu()"
        [class.active]="isWorkspacesMenuOpen"
      >
        <span class="icon">W</span>
        <span class="link-text">Workspaces</span>
        <span class="arrow-icon">&#x25B8;</span>
      </button>

      <div class="sub-menu" *ngIf="isWorkspacesMenuOpen">
        <a
          class="sub-nav-link"
          routerLink="/admin/workspaces/my-workspace"
          routerLinkActive="active"
        >
          My Workspace
        </a>
        <a
          class="sub-nav-link"
          routerLink="/admin/workspaces/all"
          routerLinkActive="active"
        >
          All Workspaces
        </a>
      </div>

      <button
        class="nav-toggle"
        (click)="toggleUsersMenu()"
        [class.active]="isUsersMenuOpen"
      >
        <span class="icon">U</span>
        <span class="link-text">Users</span>
        <span class="arrow-icon">&#x25B8;</span>
      </button>
      <div class="sub-menu" *ngIf="isUsersMenuOpen">
        <a
          class="sub-nav-link"
          routerLink="/admin/users/all"
          routerLinkActive="active"
          >All Users</a
        >
        <a
          class="sub-nav-link"
          routerLink="/admin/users/invited"
          routerLinkActive="active"
          >My Users</a
        >
      </div>
    </nav>
    <div class="sidebar-footer">
      <button class="settings-button">
        <span class="icon"><i class="fa-solid fa-gear"></i></span>
        Settings
      </button>
    </div>
  </aside>
  <div class="content-page"><router-outlet></router-outlet></div>
</div>
