<app-navbar></app-navbar>
<div class="messages-dashboard">
  <header class="dashboard-header">
    <h1>Messages</h1>
    <button
      *ngIf="userRole === 'Editor' && currentPath == 'myMessages'"
      class="btn btn-primary"
      (click)="createMode('create')"
    >
      Create Message-template
    </button>
    <div class="dropdown" [class.open]="isOpen">
      <div class="dropdown-toggle" (click)="toggleDropdown()">
        {{ selectedOption }}
        <span class="arrow" [class.up]="isOpen"></span>
      </div>

      <ul class="dropdown-menu" *ngIf="isOpen">
        <li (click)="selectOption('Text')">Text</li>
        <li (click)="selectOption('Text-Image')">Text-Image</li>
      </ul>
    </div>
  </header>

  <nav class="view-switcher">
    <ng-container *ngIf="userRole === 'Editor'">
      <a [class.active]="activeView === 'my'" (click)="switchView('my')">
        My Messages
      </a>
      <a [class.active]="activeView === 'all'" (click)="switchView('all')">
        All Messages
      </a>
    </ng-container>
    <ng-container *ngIf="userRole !== 'Editor'">
      <div class="view-title">All Messages</div>
    </ng-container>
  </nav>
  <div class="message-grid">
    <div class="message-card" *ngFor="let message of messages">
      <div *ngIf="message.type == selectedOption">
        <div class="displayed-cards">
          <div class="card-header">
            <span class="message-name">{{ message.name }}</span>
            <span class="message-type type-image">{{ message.type }}</span>
          </div>
          <div class="card-body">
            <div class="card-image" *ngIf="message.type == 'Text-Image'">
              <img [src]="message.message.imageUrl" alt="Promotional Image" />
            </div>
            <p class="message-text">
              {{ message.message.text }}
            </p>
          </div>

          <div class="card-actions">
            <button class="btn-action btn-view" (click)="viewMessage(message)">
              View
            </button>
            <button
              class="btn-action btn-edit"
              *ngIf="userRole === 'Editor' && activeView == 'my'"
              (click)="editMessageForm(message)"
            >
              Edit
            </button>
            <button
              class="btn-action btn-delete"
              *ngIf="userRole === 'Editor' && activeView == 'my'"
              (click)="deletemessage(message)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-grid" *ngIf="messages.length == 0 || messages == null">
    <p>No message templates found in this view.</p>
  </div>
</div>
<div class="pagination-controls" *ngIf="workspace">
  <button
    class="pagination-btn"
    (click)="decreasePage()"
    [disabled]="page === 1"
  >
    &larr; Previous
  </button>
  <span class="page-info"> Page {{ page }} of {{ totalPages }} </span>
  <button
    class="pagination-btn"
    (click)="increasePage()"
    [disabled]="page === totalPages"
  >
    Next &rarr;
  </button>
</div>
<div class="modal-overlay" *ngIf="messageFormVisible">
  <div class="modal-content">
    <app-create-message
      [mode]="mode"
      (formVisible)="recieveMesageFormData($event)"
      [messageData]="messageData"
    ></app-create-message>
  </div>
</div>
<div class="modal-overlay" *ngIf="viewMessageVisible">
  <div class="modal-content">
    <app-view-message
      [messageData]="messageData"
      (viewMessageVisible)="recieveViewFormData($event)"
    ></app-view-message>
  </div>
</div>
