<div class="main-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="workspaceForm">
    <div class="name">
      <label for="name">Enter workspace name: </label>
      <input type="text" id="name" formControlName="workspace_name" />
    </div>
    <div class="description">
      <label for="description">Enter workspace description: </label>
      <input type="text" id="description" formControlName="description" />
    </div>
    <button class="close-btn" type="submit">Create</button>
  </form>
  <div *ngIf="success" class="display-success">
    Workspace created successfully!
  </div>
</div>
