<div class="workspaces-page">
  <header class="page-header">
    <h1>Manage Workspaces</h1>
    <button class="add-new-btn" (click)="createMode()">
      <span class="icon">+</span> Add New Workspace
    </button>
  </header>

  <div class="workspaces-grid">
    <div class="workspace-card" *ngFor="let ws of myworkspaces">
      <div class="card-header">
        <h3 class="workspace-name">{{ ws.workspace_name }}</h3>
        <span
          class="status-badge"
          [ngClass]="{
            'status-active': ws.status === 'Active',
            'status-inactive': ws.status === 'Inactive',
            'status-trial': ws.status === 'Trial'
          }"
        >
        </span>
      </div>

      <div class="card-body">
        <p>{{ ws.description }}</p>
      </div>

      <div class="card-footer">
        <button class="btn btn-secondary" (click)="viewUsers(ws)">
          View Workspaces
        </button>
        <button class="btn btn-primary" (click)="editMode(ws)">Edit</button>
        <button class="btn btn-danger" (click)="deleteWorkspace(ws._id)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button
      class="pagination-btn"
      (click)="decreasePage()"
      [disabled]="page === 1"
    >
      &larr; Previous
    </button>
    <span class="page-info"> Page {{ page }} of {{ totalPages }} </span>
    <button
      class="pagination-btn"
      (click)="increasePage()"
      [disabled]="page === totalPages"
    >
      Next &rarr;
    </button>
  </div>

  <div class="modal-overlay" *ngIf="isFormModalVisible">
    <div class="modal-content">
      <button class="close-btn" (click)="closeAddWorkspaceModal()">
        &times;
      </button>

      <app-create-workspace
        (isWorkspaceCreated)="handleSuccess($event)"
        [mode]="mode"
        [workspaceData]="workspace"
      ></app-create-workspace>
    </div>
  </div>
  <div class="modal-overlay" *ngIf="viewFormVisible">
    <div class="modal-content">
      <button class="close-btn" (click)="closeViewForm()">&times;</button>

      <app-view-workspace
        [users]="workspaceUsers"
        [workspace]="workspace"
        (viewWorkspaceVisible)="recieveViewWorkspaceData($event)"
      ></app-view-workspace>
    </div>
  </div>
</div>
